.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home .div {
    background-color: #ffffff;
    width: 1680px;
    height: 2461px;
    position: relative;
}

.home .text-wrapper {
    position: absolute;
    height: 72px;
    top: 1157px;
    left: 134px;
    font-family: var(--sub-page-h1-font-family);
    font-weight: var(--sub-page-h1-font-weight);
    color: #000000;
    font-size: var(--sub-page-h1-font-size);
    letter-spacing: var(--sub-page-h1-letter-spacing);
    line-height: var(--sub-page-h1-line-height);
    white-space: nowrap;
    font-style: var(--sub-page-h1-font-style);
}

.home .overlap {
    position: absolute;
    width: 573px;
    height: 813px;
    top: 1285px;
    left: 985px;
}

.home .group {
    width: 571px;
    height: 713px;
    top: 0;
    position: absolute;
    left: 0;
}

.home .overlap-group {
    position: absolute;
    width: 563px;
    height: 375px;
    top: 0;
    left: 0;
}

.home .rectangle {
    position: absolute;
    width: 563px;
    height: 374px;
    top: 1px;
    left: 0;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #00000080;
}

.home .text-wrapper-2 {
    position: absolute;
    width: 129px;
    height: 21px;
    top: 232px;
    left: 53px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: -0.27px;
    line-height: 36px;
    white-space: nowrap;
}

.home .p {
    position: absolute;
    width: 458px;
    top: 302px;
    left: 53px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000cc;
    font-size: 12px;
    letter-spacing: -0.18px;
    line-height: 20px;
}

.home .text-wrapper-3 {
    position: absolute;
    width: 45px;
    height: 17px;
    top: 265px;
    left: 53px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #096b68;
    font-size: 12px;
    letter-spacing: -0.18px;
    line-height: 30px;
    white-space: nowrap;
}

.home .text-wrapper-4 {
    position: absolute;
    width: 65px;
    height: 17px;
    top: 265px;
    left: 116px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 12px;
    letter-spacing: -0.18px;
    line-height: 30px;
    white-space: nowrap;
}

.home .sunflowers {
    position: absolute;
    width: 563px;
    height: 205px;
    top: 0;
    left: 0;
}

.home .rose {
    position: absolute;
    width: 275px;
    height: 183px;
    top: 530px;
    left: 70px;
    object-fit: cover;
}

.home .overlap-wrapper {
    width: 573px;
    height: 374px;
    top: 439px;
    position: absolute;
    left: 0;
}

.home .overlap-2 {
    position: relative;
    width: 563px;
    height: 374px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #00000080;
}

.home .text-wrapper-5 {
    position: absolute;
    width: 250px;
    height: 21px;
    top: 230px;
    left: 52px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: -0.27px;
    line-height: 36px;
    white-space: nowrap;
}

.home .text-wrapper-6 {
    position: absolute;
    width: 110px;
    height: 21px;
    top: 230px;
    left: 425px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #096b68;
    font-size: 11px;
    letter-spacing: -0.17px;
    line-height: 36px;
    white-space: nowrap;
}

.home .text-wrapper-7 {
    position: absolute;
    width: 458px;
    top: 301px;
    left: 52px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000cc;
    font-size: 12px;
    letter-spacing: -0.18px;
    line-height: 20px;
}

.home .text-wrapper-8 {
    position: absolute;
    width: 45px;
    height: 17px;
    top: 264px;
    left: 52px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #096b68;
    font-size: 12px;
    letter-spacing: -0.18px;
    line-height: 30px;
    white-space: nowrap;
}

.home .text-wrapper-9 {
    width: 65px;
    height: 17px;
    top: 264px;
    left: 115px;
    font-size: 12px;
    letter-spacing: -0.18px;
    white-space: nowrap;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    line-height: 30px;
}

.home .text-wrapper-10 {
    width: 110px;
    height: 21px;
    top: 231px;
    left: 426px;
    font-size: 11px;
    letter-spacing: -0.17px;
    white-space: nowrap;
    position: absolute;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #096b68;
    line-height: 36px;
}

.home .roses {
    position: absolute;
    width: 562px;
    height: 205px;
    top: 439px;
    left: 0;
}

.home .overlap-group-wrapper {
    position: absolute;
    width: 858px;
    height: 810px;
    top: 1288px;
    left: 100px;
}

.home .overlap-3 {
    position: relative;
    width: 848px;
    height: 810px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #000000;
}

.home .rectangle-wrapper {
    position: absolute;
    width: 848px;
    height: 494px;
    top: 0;
    left: 0;
    background-image: url(mod-5/SBA5-FlowerBlog/tulips.jpg);
    background-size: 100% 100%;
}

.home .rectangle-2 {
    height: 494px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid;
    border-color: #000000;
}

.home .text-wrapper-11 {
    position: absolute;
    width: 391px;
    top: 536px;
    left: 77px;
    -webkit-text-stroke: 1px #90d1ca80;
    font-family: var(--body-h4-font-family);
    font-weight: var(--body-h4-font-weight);
    color: #000000;
    font-size: var(--body-h4-font-size);
    letter-spacing: var(--body-h4-letter-spacing);
    line-height: var(--body-h4-line-height);
    font-style: var(--body-h4-font-style);
}

.home .text-wrapper-12 {
    width: 200px;
    top: 536px;
    left: 625px;
    -webkit-text-stroke: 1px transparent;
    font-size: 18px;
    letter-spacing: -0.27px;
    position: absolute;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #096b68;
    line-height: 36px;
}

.home .text-wrapper-13 {
    position: absolute;
    width: 690px;
    top: 635px;
    left: 77px;
    -webkit-text-stroke: 1px transparent;
    font-family: var(--body-p-font-family);
    font-weight: var(--body-p-font-weight);
    color: #000000cc;
    font-size: var(--body-p-font-size);
    letter-spacing: var(--body-p-letter-spacing);
    line-height: var(--body-p-line-height);
    font-style: var(--body-p-font-style);
}

.home .text-wrapper-14 {
    position: absolute;
    width: 41px;
    height: 37px;
    top: 580px;
    left: 77px;
    -webkit-text-stroke: 1px transparent;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: -0.21px;
    line-height: 30px;
}

.home .text-wrapper-15 {
    width: 85px;
    height: 37px;
    top: 580px;
    left: 160px;
    -webkit-text-stroke: 1px #90d1ca80;
    font-size: 14px;
    letter-spacing: -0.21px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    line-height: 30px;
}

.home .navigation {
    position: absolute;
    width: 1680px;
    height: 60px;
    top: 20px;
    left: 0;
    background-color: #ffffff;
}

.home .menu {
    left: 697px;
    position: absolute;
    height: 18px;
    top: 16px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #096b68;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.23px;
    line-height: normal;
    white-space: nowrap;
}

.home .menu-2 {
    left: 802px;
    position: absolute;
    height: 18px;
    top: 16px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #096b68;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.23px;
    line-height: normal;
    white-space: nowrap;
}

.home .text-wrapper-16 {
    height: 18px;
    top: 16px;
    left: 909px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #096b68;
    text-align: center;
    line-height: normal;
    position: absolute;
    font-size: 15px;
    letter-spacing: -0.23px;
    white-space: nowrap;
}

.home .line {
    position: absolute;
    width: 1536px;
    height: 1px;
    top: 59px;
    left: 72px;
    object-fit: cover;
}

.home .text-wrapper-17 {
    position: absolute;
    width: 165px;
    height: 22px;
    top: 18px;
    left: 117px;
    font-family: "Cinzel Decorative-Bold", Helvetica;
    font-weight: 700;
    color: #096b68;
    font-size: 32px;
    text-align: center;
    letter-spacing: -0.48px;
    line-height: normal;
    white-space: nowrap;
}

.home .footer {
    position: absolute;
    width: 1680px;
    height: 264px;
    top: 2197px;
    left: 0;
    background-color: #096b68;
}

.home .text-wrapper-18 {
    position: absolute;
    width: 173px;
    top: 119px;
    left: 574px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.23px;
    line-height: 24px;
    white-space: nowrap;
}

.home .text-wrapper-19 {
    position: absolute;
    width: 363px;
    height: 24px;
    top: 119px;
    left: 1237px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffffcc;
    font-size: 15px;
    text-align: right;
    letter-spacing: -0.23px;
    line-height: 24px;
    white-space: nowrap;
}

.home .text-wrapper-20 {
    position: absolute;
    width: 173px;
    top: 119px;
    left: 804px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.23px;
    line-height: 24px;
    white-space: nowrap;
}

.home .text-wrapper-21 {
    width: 173px;
    top: 118px;
    left: 1021px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    line-height: 24px;
    position: absolute;
    font-size: 15px;
    letter-spacing: -0.23px;
    white-space: nowrap;
}

.home .text-wrapper-22 {
    position: absolute;
    width: 176px;
    height: 32px;
    top: 119px;
    left: 80px;
    font-family: "Cinzel Decorative-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.54px;
    line-height: normal;
    white-space: nowrap;
}

.home .overlap-4 {
    position: absolute;
    width: 1680px;
    height: 966px;
    top: 80px;
    left: 0;
}

.home .frame {
    width: 1680px;
    height: 966px;
    top: 0;
    background-color: #fffbde;
    position: absolute;
    left: 0;
}

.home .overlap-5 {
    position: relative;
    width: 1554px;
    height: 843px;
    top: 123px;
    left: 126px;
}

.home .overlap-6 {
    position: absolute;
    width: 1554px;
    height: 843px;
    top: 0;
    left: 0;
}

.home .home-design-removebg {
    position: absolute;
    width: 563px;
    height: 473px;
    top: 370px;
    left: 510px;
    object-fit: cover;
}

.home .cherry-blossom {
    position: absolute;
    width: 574px;
    height: 843px;
    top: 0;
    left: 980px;
    object-fit: cover;
}

.home .where-every-bloom {
    position: absolute;
    width: 714px;
    top: 290px;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #096b68;
    font-size: 64px;
    letter-spacing: 3.84px;
    line-height: normal;
}

.home .img {
    position: absolute;
    width: 100px;
    height: 55px;
    top: 470px;
    left: 55px;
}

.home .enter-the-garden-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 28px 56px;
    top: 489px;
    background-color: #ffffff;
    border-radius: 0px 20px 0px 20px;
    border: 1px solid;
    border-color: #096b68;
    position: absolute;
    left: 0;
}

.home .enter-the-garden {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #096b68;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.home .text-wrapper-23 {
    position: absolute;
    width: 704px;
    top: 114px;
    left: 0;
    -webkit-text-stroke: 0.4px #ffffff;
    font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
    font-weight: 400;
    color: #096b68;
    font-size: 200px;
    letter-spacing: 8.00px;
    line-height: 150px;
}

.home .cherry-blossom-2 {
    position: absolute;
    width: 655px;
    height: 878px;
    top: 88px;
    left: 915px;
}
