:root {
    --sub-page-h1-font-family: "Montserrat", Helvetica;
    --sub-page-h1-font-weight: 400;
    --sub-page-h1-font-size: 48px;
    --sub-page-h1-letter-spacing: -0.72px;
    --sub-page-h1-line-height: 72px;
    --sub-page-h1-font-style: normal;
    --body-h4-font-family: "Montserrat", Helvetica;
    --body-h4-font-weight: 700;
    --body-h4-font-size: 24px;
    --body-h4-letter-spacing: -0.36px;
    --body-h4-line-height: 36px;
    --body-h4-font-style: normal;
    --body-p-font-family: "Montserrat", Helvetica;
    --body-p-font-weight: 400;
    --body-p-font-size: 18px;
    --body-p-letter-spacing: -0.27px;
    --body-p-line-height: 30px;
    --body-p-font-style: normal;
}
