#addComment {
    list-style: none;
}

#delete {
    display: none;
}



.single-post {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.single-post .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1680px;
    height: 3052px;
    position: relative;
}

.single-post .overlap {
    position: absolute;
    width: 1338px;
    height: 2708px;
    top: 80px;
    left: 171px;
}

.single-post .post {
    position: absolute;
    width: 1338px;
    height: 2708px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.single-post .home-tiptoe-through {
    position: absolute;
    height: 45px;
    top: 58px;
    left: 105px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.27px;
    line-height: 45px;
    white-space: nowrap;
}

.single-post .text-wrapper {
    color: #096b68;
    letter-spacing: -0.05px;
}

.single-post .span {
    color: #0000004c;
    letter-spacing: -0.05px;
}

.single-post .text-wrapper-2 {
    color: #00000080;
    letter-spacing: -0.05px;
}

.single-post .tulips {
    position: absolute;
    width: 1109px;
    height: 575px;
    top: 228px;
    left: 99px;
}

.single-post .p {
    position: absolute;
    width: 1108px;
    top: 840px;
    left: 96px;
    font-family: var(--body-p-font-family);
    font-weight: var(--body-p-font-weight);
    color: #000000cc;
    font-size: var(--body-p-font-size);
    letter-spacing: var(--body-p-letter-spacing);
    line-height: var(--body-p-line-height);
    font-style: var(--body-p-font-style);
}

.single-post .text-wrapper-3 {
    position: absolute;
    width: 1108px;
    top: 1047px;
    left: 96px;
    font-family: var(--body-p-font-family);
    font-weight: var(--body-p-font-weight);
    color: #000000cc;
    font-size: var(--body-p-font-size);
    letter-spacing: var(--body-p-letter-spacing);
    line-height: var(--body-p-line-height);
    font-style: var(--body-p-font-style);
}

.single-post .text-wrapper-4 {
    position: absolute;
    width: 1108px;
    top: 1254px;
    left: 96px;
    font-family: var(--body-p-font-family);
    font-weight: var(--body-p-font-weight);
    color: #000000cc;
    font-size: var(--body-p-font-size);
    letter-spacing: var(--body-p-letter-spacing);
    line-height: var(--body-p-line-height);
    font-style: var(--body-p-font-style);
}

.single-post .text-wrapper-5 {
    position: absolute;
    height: 36px;
    top: 124px;
    left: 109px;
    font-family: var(--body-h4-font-family);
    font-weight: var(--body-h4-font-weight);
    color: #000000;
    font-size: var(--body-h4-font-size);
    letter-spacing: var(--body-h4-letter-spacing);
    line-height: var(--body-h4-line-height);
    white-space: nowrap;
    font-style: var(--body-h4-font-style);
}

.single-post .text-wrapper-6 {
    position: absolute;
    height: 30px;
    top: 181px;
    left: 105px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #096b68;
    font-size: 24px;
    letter-spacing: -0.36px;
    line-height: 30px;
    white-space: nowrap;
}

.single-post .text-wrapper-7 {
    position: absolute;
    height: 36px;
    top: 178px;
    left: 186px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #096b68;
    font-size: 24px;
    letter-spacing: -0.36px;
    line-height: 36px;
    white-space: nowrap;
}

.single-post .text-wrapper-8 {
    position: absolute;
    height: 30px;
    top: 181px;
    left: 422px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 24px;
    letter-spacing: -0.36px;
    line-height: 30px;
    white-space: nowrap;
}

.single-post .line {
    width: 1px;
    height: 32px;
    top: 183px;
    left: 173px;
    position: absolute;
    object-fit: cover;
}

.single-post .img {
    width: 1px;
    height: 32px;
    top: 181px;
    left: 415px;
    position: absolute;
    object-fit: cover;
}

.single-post .text-wrapper-9 {
    position: absolute;
    height: 30px;
    top: 1939px;
    left: 96px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: -0.48px;
    line-height: 30px;
    white-space: nowrap;
}

.single-post .form-comment {
    position: absolute;
    width: 634px;
    height: 40px;
    top: 2020px;
    left: 99px;
}

.single-post .overlap-group {
    position: relative;
    width: 630px;
    height: 40px;
}

.single-post .button {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 120px;
    height: 40px;
    top: 0;
    left: 580px;
    background-color: var(--actionable-item);
    border-radius: 6px;
}

.single-post .register {
    position: absolute;
    height: 18px;
    top: 10px;
    left: 40px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.23px;
    line-height: normal;
    white-space: nowrap;
}

.single-post .rectangle {
    width: 154px;
    left: 0;
    position: absolute;
    height: 40px;
    top: 0;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #00000080;
}

.single-post .text-wrapper-10 {
    position: absolute;
    left: 22px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 15px;
    letter-spacing: -0.23px;
    line-height: 24px;
    white-space: nowrap;
}

.single-post .rectangle-2 {
    width: 435px;
    left: 133px;
    position: absolute;
    height: 38px;
    top: 0;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #00000080;
}

.single-post .text-wrapper-11 {
    position: absolute;
    left: 264px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 15px;
    letter-spacing: -0.23px;
    line-height: 24px;
    white-space: nowrap;
}

.single-post .more-post {
    width: 155px;
    top: 1855px;
    left: 96px;
    position: absolute;
    height: 36px;
}

.single-post .text-wrapper-12 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000cc;
    font-size: 22px;
    letter-spacing: -0.33px;
    line-height: 36px;
    white-space: nowrap;
}

.single-post .div-wrapper {
    width: 288px;
    top: 1873px;
    left: 505px;
    position: absolute;
    height: 36px;
}

.single-post .text-wrapper-13 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 22px;
    letter-spacing: -0.33px;
    line-height: 36px;
    white-space: nowrap;
}

.single-post .text-wrapper-14 {
    position: absolute;
    height: 30px;
    top: 1619px;
    left: 96px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000cc;
    font-size: 24px;
    letter-spacing: -0.36px;
    line-height: 30px;
    white-space: nowrap;
}

.single-post .sunflowers {
    position: absolute;
    width: 335px;
    height: 166px;
    top: 1678px;
    left: 99px;
}

.single-post .sharing {
    position: absolute;
    width: 274px;
    height: 45px;
    top: 1520px;
    left: 96px;
}

.single-post .akar-icons-instagram {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 232px;
}

.single-post .ant-design-twitter {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    left: 186px;
}

.single-post .akar-icons-facebook {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 146px;
}

.single-post .text-wrapper-15 {
    position: absolute;
    height: 30px;
    top: 7px;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000cc;
    font-size: 24px;
    letter-spacing: -0.36px;
    line-height: 30px;
    white-space: nowrap;
}

.single-post .roses {
    position: absolute;
    width: 344px;
    height: 166px;
    top: 1678px;
    left: 497px;
}

.single-post .line-2 {
    width: 1108px;
    height: 1px;
    top: 1478px;
    left: 125px;
    position: absolute;
    object-fit: cover;
}

.single-post .overlap-2 {
    position: absolute;
    width: 1680px;
    height: 60px;
    top: 20px;
    left: -3px;
}

.single-post .line-3 {
    width: 1536px;
    height: 1px;
    top: 59px;
    left: 72px;
    position: absolute;
    object-fit: cover;
}

.single-post .navigation {
    position: absolute;
    width: 1680px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.single-post .menu {
    position: absolute;
    height: 18px;
    top: 16px;
    left: 697px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #096b68;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.23px;
    line-height: normal;
    white-space: nowrap;
}

.single-post .menu-2 {
    position: absolute;
    height: 18px;
    top: 16px;
    left: 802px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #096b68;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.23px;
    line-height: normal;
    white-space: nowrap;
}

.single-post .text-wrapper-16 {
    position: absolute;
    height: 18px;
    top: 16px;
    left: 909px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #096b68;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.23px;
    line-height: normal;
    white-space: nowrap;
}

.single-post .text-wrapper-17 {
    position: absolute;
    width: 165px;
    height: 22px;
    top: 18px;
    left: 117px;
    font-family: "Cinzel Decorative-Bold", Helvetica;
    font-weight: 700;
    color: #096b68;
    font-size: 32px;
    text-align: center;
    letter-spacing: -0.48px;
    line-height: normal;
    white-space: nowrap;
}

.single-post .footer {
    position: absolute;
    width: 1680px;
    height: 271px;
    top: 2788px;
    left: 0;
    background-color: #096b68;
}

.single-post .text-wrapper-18 {
    position: absolute;
    width: 173px;
    top: 119px;
    left: 574px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.23px;
    line-height: 24px;
    white-space: nowrap;
}

.single-post .text-wrapper-19 {
    position: absolute;
    width: 363px;
    height: 24px;
    top: 119px;
    left: 1237px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffffcc;
    font-size: 15px;
    text-align: right;
    letter-spacing: -0.23px;
    line-height: 24px;
    white-space: nowrap;
}

.single-post .text-wrapper-20 {
    position: absolute;
    width: 173px;
    top: 119px;
    left: 804px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.23px;
    line-height: 24px;
    white-space: nowrap;
}

.single-post .text-wrapper-21 {
    position: absolute;
    width: 173px;
    top: 118px;
    left: 1021px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.23px;
    line-height: 24px;
    white-space: nowrap;
}

.single-post .text-wrapper-22 {
    position: absolute;
    width: 176px;
    height: 32px;
    top: 119px;
    left: 80px;
    font-family: "Cinzel Decorative-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.54px;
    line-height: normal;
    white-space: nowrap;
}
