* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body, html {
    background-color: #a2b9a7;
    margin: 0;
  padding: 0;
  height: 100%;
}

nav {
    background-color: rgb(187, 62, 0);
    margin-bottom: 2rem;
    
}
nav ul {
    display: flex;         /* This will lay the menu items in a row */
    justify-content: center; /* This centers the menu items horizontally */
    padding: 1.5rem;
    list-style: none;
    gap: 6rem;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-image {
    width: 5rem;
    height: auto;
  }

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav :hover {
    color: rgb(162, 185, 167);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

p {
    margin: 2rem;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}



@media (max-width: 768px) {
    .reviewsection {
        flex-direction: column;
        text-align: center;
    }

    .reviewsection p {
        min-width: unset;
        width: 90%;
    }
}


h3 {
    text-align: center;
}

@media (max-width: 768px) {
    .services {
        column-count: 1;
        text-align: center;
    }

    .services p {
        padding: 2rem;
    }
}


.form {
    background-color: #F7AD45;
    text-align: center;
    padding: 2rem;
    margin-bottom: 0;
  padding-bottom: 0;
}

h4 {
    margin-bottom: 2rem;
}

label, span {
    display: block;
    padding: 0.5rem;
}

textarea::placeholder {
    color: black;
}

textarea {
   align-self: center;
}


input {
    border-style: none;
    background-color: rgb(162, 185, 167);
}

footer {
    text-align: center;
    background-color: #F7AD45;
    margin-bottom: 0;
  padding-bottom: 0;
}
