* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #a2b9a7;
}

nav {
    background-color: rgb(187, 62, 0);
    margin-bottom: 2rem;
    
}
nav ul {
    display: flex;         /* This will lay the menu items in a row */
    justify-content: center; /* This centers the menu items horizontally */
    padding: 1.5rem;
    list-style: none;
    gap: 6rem;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-image {
    width: 5rem;
    height: auto;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav :hover {
    color: rgb(162, 185, 167);
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}


.pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;          /* Allows images to wrap to the next line */
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}
.reviewsection {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.reviewsection p{
    flex: 1;
    min-width: 300px; /* Optional: prevent shrinking too small */
    padding-right: 4rem;
    padding-left: 4rem;
}

@media (max-width: 768px) {
    .reviewsection {
        flex-direction: column;
        text-align: center;
    }

    .reviewsection p {
        min-width: unset;
        width: 90%;
    }
}

.services {
    display: flex;
  justify-content: center;
  gap: 40px; /* optional: adds space between columns */
  align-items: flex-start; /* keeps the tops aligned */
  margin-bottom: 2rem;
}

.column {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

section img {
    margin-bottom: 1rem;
    margin-top: 1rem;
   
}

h3 {
    text-align: center;
}

@media (max-width: 768px) {
    .services {
        column-count: 1;
        text-align: center;
    }

    .services p {
        padding: 2rem;
    }
}


.form {
    background-color: #F7AD45;
    text-align: center;
    padding: 2rem;
}

h4 {
    margin-bottom: 2rem;
}

label, span {
    display: block;
    padding: 0.5rem;
}

textarea::placeholder {
    color: black;
}

textarea {
   align-self: center;
}


input {
    border-style: none;
    background-color: rgb(162, 185, 167);
}

footer {
    text-align: center;
    background-color: #F7AD45;
}
