* {
    background-color: hsl(212, 45%, 89%)
}

.info1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 505; /* regular */
    background-color: white;
    font-size: 256%;
}

.info2 {
    font-family: 'Outfit', sans-serif;
    opacity: calc(50%);
    background-color: white;
    font-size: 200%;
    text-align: center;
    
}
.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 5%;
    margin-top: 20px;
}

.container {
    background-color: white;
    width: 600px;                    /* set the width */
    padding: 16px;                   /* space inside the box */
    border-radius: 25px;             /* rounded corners */
    margin: 100px auto;              /* center on the page */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow (optional) */
    padding-bottom: 4rem;
}
