body {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
    height: 100vh;            /* full viewport height */
    margin: 0;
}

.form-container {
  display: flex;
  align-items: center; 
  flex-direction: column;
  justify-content: center;  /* center horizontally */
  background-color: #eef5fd;  /* light blue */
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* optional */
  width: 400px;
}

input {
  border-color: #ffffff;
  opacity: 50%;
}

h1 { 
  height: 25px;
  font-size: 25px;
  top: 0;
  left: 0;
  color: #0059ff;
}

button {
   
    border-radius: 1rem;
    height: 48px;
    background-color: #006ee9;
    border-style: none;
    
}

 #task {
  width: 334px; 
  height: 100px; 
  text-align: center;
  border-radius: 1rem;
}

#options {
  width: 160px;
  height: 48px;
  box-shadow: 0px 4px 20px 0 rgb(0.05098039284348488 0.3764705955982208 0.8745098114013672 / 0.02);
  background-color: #ffffff;
  border: 2px solid #006ee9;
  text-align: center;
  appearance: none;
  border-radius: 1rem;
  
}



#deadline {
  width: 160px;
  height: 48px;
  background-color: #ffffff;
  text-align: center;
  outline-color: #4a4646;
}


#category {
  width: 160px;
  height: 48px;
  box-shadow: 0px 4px 20px 0 rgb(0.05098039284348488 0.3764705955982208 0.8745098114013672 / 0.02);
  background-color: #ffffff;
  border: 2px solid #006ee9;
  text-align: center;
  appearance: none;
  border-radius: 1rem;
  
}


#categoryFilter {
  display: flex;
  justify-content: center;
}

#statusFilter {
  display: flex;
  justify-content: center;
  flex-direction: column;
}